<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>Vidshare</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>http://vidshare.us</string>
		<string>http://vidshare.us/.+</string>
      </array>
    </dict>
	<key>Playwire</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>http://config.playwire.com</string>
		<string>http://config.playwire.com/.+</string>
      </array>
    </dict>
	<key>Cloudy</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>http://www.cloudy.ec</string>
		<string>http://www.cloudy.ec/.+</string>
		<string>https://www.cloudy.ec</string>
		<string>https://www.cloudy.ec/.+</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
